@keyframes bob {
            0% { transform: translateY(0); }
            100% { transform: translateY(-7px); }
}

@keyframes hook {
            0% { transform: translateY(0); }
            65% {transform: translateY(85px);}
            100% { transform: translateY(75px); }
}